.header{
    max-width: 882px;
    margin: 0 auto 36.25px auto;
    padding: 45px 0 0 0;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 700px){
    .header{
        margin: 28px auto 38.25px auto;
        padding-bottom: 31px;
    }
}
