.infoTooltip {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 330px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px) {
    .infoTooltip {
        width: 280px;
        height: 308px;
    }
}