.element__trash{
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.2s;
    background-image: url(/src/images/Group.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    width: 22px;
    height: 19px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}
.element__trash:hover{
    opacity: 0.6;
}